.page-clubs {
    padding-left: 20vw;
    width: 100vw;
    height: 100vh;
    background-color: var(--page-bg-color);
}

.page-clubs h1 {
    margin: 10px;
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.5;
}

.page-clubs .clubs-container {
    display: flex;
    gap: 10px;
    padding: 12px;
    flex-wrap: wrap;
}

.clubs-container .club-card {
    display: flex;
    flex-direction: column;
    gap: 18px;
    min-height: 100px;
    width: 80vw;
    background-color: var(--card-bg-color);
    border-radius: 5px;
    padding: 20px;
}

.club-card button {
    margin-top: 10px;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: var(--text-muted);
    color: var(--btn-text-color);
    border: none;
    cursor: pointer;
}

.club-card button:hover {
    background-color: var(--secondary-color);
    transition: 0.3s ease-in-out;
}