.admin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.admin-container h1 {
    margin-bottom: 18px;
    font-size: 36px;
}

.admin-container label {
    margin-bottom: 5px;
    font-size: 18px;
}

.admin-form {
    display: flex;
    flex-direction: column;
    width: 360px;
    padding: 40px;
    border-radius: 10px;
    background-color: var(--container-bg);
    box-shadow: 0 0 10px var(--box-shadow);
}

.admin-form input[type="text"],
.admin-form input[type="password"] {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

.admin-form input[type="text"]:focus,
.admin-form input[type="password"]:focus {
    border-color: var(--border-color);
}

.admin-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    cursor: pointer;
}

.admin-form input[type="submit"]:hover {
    background-color: var(--secondary-color);
}

.admin-form input[value="Admin Login"] {
    color: var(--text-color);
}

.admin-form a {
    color: var(--link-color);
    text-decoration: none;
}